LENGUAJES DE MARCAS Y SISTEMAS DE GESTION DE INFORMACION/EJERCICIOS/LMSG04/tarea04/tarea4/public_html/newXmlSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>


<xs:schema version="1.0"
    xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:annotation>
        <xs:documentation>
        Inventario de impresoas
        Creado por: BeaGH
        </xs:documentation>
    </xs:annotation>
    <!-- elemento raíz -->
    <xs:element name="impresoras" type="datosImpresoras"/>
        
    <!-- definición del tipo datosImpresora -->
    <xs:complexType name="datosImpresoras">
        <xs:sequence>
            <!--puede haber 1 o mas impresoras -->
            <xs:element name="impresora" type="datos" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        <!--los atributos de cada impresora son los siguientes -->
        <!-- el atributo numSerie es obligatorio -->
        <xs:attribute name="numSerie" type="xs:string" use="required"/>
        
        <!-- el atributo tipo solo puede tener 3 valores -->
        <xs:attribute name="tipo">
            <xs:simpleType>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="matricial"/>
                    <xs:enumeration value="láser"/>
                    <xs:enumeration value="tinta"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
        
        <!-- el atributo compra es opcional y es un número entero positivo -->
        <xs:attribute name="compra" type="positiveInteger" use="optional"/>
    </xs:complexType>  
    
    <!-- definición del tipo datos -->    
    <xs:complexType name="datos">
        <xs:sequence>
                      
            <xs:element name="marca" type="xs:string"/>
            <xs:element name="modelo" type="xs:string"/>
            
            <!-- peso es un número positivo y no puede tener más de dos decimales-->
            <xs:element name="peso">
                <xs:simpleType>
                    <xs:restriction base="positiveInteger">
                        <xs:pattern value="[0-9]+.[0-9]{0,2}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <!--tamaño puede haber varios -->        
            <xs:element name="tamaño" minOccurs="1" maxOccurs="unbounded"/>
            
            <!--el formato de cartucho es: C mayúscula, un guión, tres números y una o dos letras mayúsculas -->
            <xs:element name="cartucho">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="C-[0-9]{3}[A-Z]{1,2}"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            
            <!--enred es opcional y es un elemento vacio -->
            <xs:element name="enred" >
                <xs:complexType>
                    <xs:attribute name="red" use="optional"/>
                </xs:complexType>
            </xs:element>
        </xs:sequence>  
    </xs:complexType>            
</xs:schema>
